[Unit]
Description=Galileo Service Robot Documents gitbook service

[Service]
Type=simple
User=bwbot
WorkingDirectory=/home/bwbot/data/src/gitbook/galileo-servicebot-doc
ExecStart=/usr/local/bin/gitbook --port 22234 --lrport 22334 serve

[Install]
WantedBy=multi-user.target
